.my_application_container {
	margin-left: 104px;
	margin-right: 40px;
	margin-top: 40px;
	height: 100%;

	.my_application_title {
		color: var(--page-primary-color);
		font-size: 32px;
		font-weight: 600;
		margin: 0px;
	}

	.status_figure {
		min-width: 10px;
		min-height: 10px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #d9d9d9;
		margin-right: 12px;
	}

	.my_application_table_column {
		background-color: #f8f8f8;
	}

	.my_application_table_column td {
		padding: 0px;
		padding: 12px;
		color: #323232;
		font-size: 18px;
		font-weight: 600;
	}

	.my_application_table_column p {
		margin: 0;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.my_application_table_container {
		margin-top: 30px;
		//width: 1725px;
		width: 100%;
		height: 700px;
		overflow-x: auto;
	}

	.my_application_table {
		//width: 1714px;
	}

	.my_application_table thead {
		position: sticky;
		top: 0;
	}

	.my_application_table_column_course_title {
		width: 19%;
		max-width: 19%;
	}

	.my_application_table_column_state {
		width: 20%;
		max-width: 20%;
	}

	.my_application_table_column_course_type {
		width: 9%;
		max-width: 9%;
	}

	.my_application_table_column_course_category {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_column_course_education_center {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_column_course_author {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_column_course_creation_date {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_content {
		cursor: pointer;
	}

	.my_application_table_content td {
		padding: 0px;
		padding: 12px;
		color: #323232;
		font-size: 16px;
		font-weight: 600;
		border-bottom: 1px solid #efefef;
	}

	.my_application_table_content p {
		margin: 0px;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.test {
		margin: 0;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.my_application_table_content_course_title {
		width: 19%;
		max-width: 19%;
	}

	.my_application_table_content_state {
		width: 20%;
		max-width: 20%;
	}

	.my_application_table_content_state p {
		//display: flex;
		//align-items: center;
	}

	.my_application_table_content_state {
		width: 9%;
		max-width: 9%;
	}

	.my_application_table_content_course_type {
		width: 9%;
		max-width: 9%;
	}

	.my_application_table_content_course_category {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_content_course_education_center {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_content_course_author {
		width: 13%;
		max-width: 13%;
	}

	.my_application_table_content_course_creation_date {
		width: 13%;
		max-width: 13%;
	}

	.my_application_title_h2_error {
		color: #323232;
		opacity: 0.2;
		font-size: 50px;
		font-weight: 800;
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
}

.my_application_table_content:hover {
	background-color: #fbfbfb;
}

.my_application_table_content:active {
	background-color: #fbfbfb;
}

.my_application_table_content:focus {
	background-color: #fbfbfb;
}


%status {
	border-radius: 10000px;
	color: var(--Color, #FFF);

	font-family: Nunito Sans, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	//line-height: 100%;

	-webkit-line-clamp: initial !important;

	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding: 4px 10px;
}

.approve_confirmation_status {
	background: #F59D0E;
	@extend %status
}
.approve_confirmation_status::before {
	margin-right: 4px;
	content: url("/img/statuses/av_timer.svg");
	vertical-align: middle;
}

.rejected_status {
	background: #E85252;
	@extend %status
}
.rejected_status::before {
	margin-right: 4px;
	content: url("/img/statuses/cancel.svg");
	vertical-align: middle;
}

.completed_status {
	background: #2E954B;
	@extend %status
}
.completed_status::before {
	margin-right: 4px;
	content: url("/img/statuses/check_circle.svg");
	vertical-align: middle;
}
