.main {
	height: 100vh;
	position: absolute;
	z-index: 998;
	width: 768px;
	right: 0;
}

.sidebar_container {
	background-color: #f9f9f9;
	height: 986px;
	height: 100%;
	width: 100%;

	.sidebar_content {
		padding: 48px 46px;
		height: 829px;
		overflow-x: auto;
	}

	.sidebar_title_group {
		display: flex;
		align-items: center;
	}

	.sidebar_title_group button {
		margin-left: auto;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
	}

	.sidebar_title {
		margin: 0px;
		color: #323232;
		font-size: 24px;
		font-weight: 600;
		max-width: 600px;
	}

	.sidebar_button_group {
		margin: 0px;
		padding: 0px;
		list-style: none;
		margin-top: 24px;
		display: flex;
		max-width: 676px;
	}

	.sidebar_button_group li:not(:first-child) {
		margin-left: 16px;
	}

	.sidebar_button_affirmative {
		padding: 6px 10px;
		border-radius: 12px;
		border: 1px solid #6a9668;
		background-color: transparent;
		color: #6a9668;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		height: 44px;
		opacity: 0.7;
	}

	.sidebar_button_reject {
		padding: 6px 10px;
		border-radius: 12px;
		border: 1px solid #be5656;
		background-color: transparent;
		color: #be5656;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		height: 44px;
		opacity: 0.7;
	}

	.sidebar_button_more {
		padding: 10px;
		border-radius: 12px;
		border: 1px solid #979ba0;
		background-color: transparent;
		color: #979ba0;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		width: 44px;
		height: 44px;
	}

	// .sidebar_tags_group {
	// 	display: flex;
	// 	list-style: none;
	// 	padding: 0px;
	// 	margin: 0px;
	// 	margin-top: 24px;
	// 	max-width: 676px;
	// }

	// .sidebar_tags {
	// 	border-radius: 8px;
	// 	background: #e4e4e4;
	// 	padding: 4px 8px;
	// 	color: #323232;
	// 	font-size: 14px;
	// 	font-weight: 400;
	// }

	// .sidebar_tags_group li:not(:first-child) {
	// 	margin-left: 10px;
	// }

	.sidebar_title_h2 {
		color: #323232;
		font-size: 16px;
		font-weight: 700;
		padding: 0px;
		margin: 0px;
		max-width: 676px;
	}

	.sidebar_description_group {
		padding: 0px;
		margin: 0px;
		margin-top: 24px;
		max-width: 676px;
	}

	.sidebar_description_group input {
		width: 616px;
	}

	.sidebar_description {
		margin: 0px;
		padding: 0px;
		margin-top: 16px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	// .sidebar_cost_group {
	// 	padding: 0px;
	// 	margin: 0px;
	// 	margin-top: 30px;
	// 	max-width: 676px;
	// }

	// .sidebar_cost {
	// 	margin: 0px;
	// 	padding: 0px;
	// 	margin-top: 16px;
	// 	max-width: 676px;
	// 	color: #323232;
	// 	font-weight: 400;
	// }

	// .sidebar_date_group {
	// 	padding: 0px;
	// 	margin: 0px;
	// 	margin-top: 30px;
	// 	max-width: 676px;
	// }

	// .sidebar_date {
	// 	margin: 0px;
	// 	padding: 0px;
	// 	margin-top: 16px;
	// 	max-width: 676px;
	// 	color: #323232;
	// 	font-weight: 400;
	// }

	// .sidebar_education_center_group {
	// 	padding: 0px;
	// 	margin: 0px;
	// 	margin-top: 30px;
	// 	max-width: 676px;
	// }

	// .sidebar_education_center {
	// 	margin: 0px;
	// 	padding: 0px;
	// 	margin-top: 16px;
	// 	max-width: 676px;
	// 	color: #323232;
	// 	font-weight: 400;
	// }

	// .sidebar_goal_group {
	// 	padding: 0px;
	// 	margin: 0px;
	// 	margin-top: 30px;
	// 	max-width: 676px;
	// }

	// .sidebar_goal {
	// 	margin: 0px;
	// 	padding: 0px;
	// 	margin-top: 16px;
	// 	max-width: 676px;
	// 	color: #323232;
	// 	font-weight: 400;
	// }
	.sidebar_date_group {
		display: flex;
		justify-content: space-evenly;
	}

	.sidebar_date_start_group {
		margin-top: 12px;
	}

	.sidebar_date_end_group {
		margin-top: 12px;
	}

	.sidebar_date_start_input {
		cursor: pointer;
		border-radius: 8px;
		border: 1px solid #e3e3e3;
		background: #fff;
		padding: 14px;
		color: #323232;
		font-size: 20px;
		font-weight: 400;
		width: 180px;
	}

	.sidebar_date_start_input_container {
		margin-top: 8px;
	}

	.sidebar_date_start_input_container input {
		width: 267px;
	}
	.sidebar_date_end_input_container input {
		width: 267px;
	}

	.sidebar_date_end_input {
		cursor: pointer;
		padding: 14px;
		border-radius: 8px;
		border: 1px solid #e3e3e3;
		background: #fff;
		color: #323232;
		font-size: 20px;
		font-weight: 400;
		width: 180px;
	}

	input::-webkit-calendar-picker-indicator {
		cursor: pointer;
	}

	.sidebar_date_end_input_container {
		margin-top: 8px;
	}

	.sidebar_date_line {
		margin: 0px 20px;
		margin-top: 40px;
	}
}

// .sidebar_container {
// 	// transition: transform 300ms ease-out;
// 	// transform: translateX(-1rem);
// 	transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s,
// 		right 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
// 	right: calc(30px - 40%);
// 	right: 0px;
// }

// .main {
// 	transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s,
// 		right 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
// 	right: calc(30px - 40%);
// }

.sidebar_date_end_input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 3px var(--input-hover-box-shadow-color);
}

.sidebar_date_start_input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 3px var(--input-hover-box-shadow-color);
}

.sidebar_button_affirmative:disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
