.navigate_button_container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 490px;

	.navigate_button {
		color: var(--navigate-button-text-color);
		font-size: 20px;
		font-weight: 600;
		background: none;
		border: none;
		padding: 8px 14px;
		cursor: pointer;
		margin-top: 0px;
	}

	.navigate_button:hover {
		color: var(--navigate-button-hover-text-color);
	}
	.navigate_button:active {
		color: var(--navigate-button-active-text-color);
	}

	.navigate_button:disabled {
		color: var(--navigate-button-disabled-text-color);
		cursor: not-allowed;
	}

	.navigate_button:focus {
		color: var(--navigate-button-focus-text-color);
		outline: none;
		border: 1px solid var(--navigate-button-focus-border-color);
		border-radius: 12px;
		padding: 7px 13px;
	}
}
