.organization_structure_staff_unit_container {
	margin-left: 104px;
	margin-top: 40px;

	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	.organization_structure_staff_unit_title {
		color: var(--page-primary-color);
		font-size: 32px;
		font-weight: 600;
		margin: 0px;
	}

	.organization_structure_staff_unit_button_group {
		margin: 0px;
		padding: 0px;
		list-style: none;
		margin-top: 24px;
		display: flex;
		max-width: 676px;
	}

	.organization_structure_staff_unit_button_affirmative {
		padding: 6px 10px;
		border-radius: 12px;
		border: 1px solid #6a9668;
		background-color: transparent;
		color: #6a9668;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		height: 44px;
		opacity: 0.7;
	}

	.organization_structure_staff_unit_table_button_affirmative {
		border: 1px solid #6a9668;
		color: #6a9668;
		border-radius: 12px;
		background-color: transparent;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		opacity: 0.7;
	}

	.organization_structure_staff_unit_table_button_reject {
		color: #be5656;
		border: 1px solid #be5656;
		border-radius: 12px;
		background-color: transparent;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		opacity: 0.7;
	}

	.organization_structure_staff_unit_title_h2 {
		color: #323232;
		font-size: 16px;
		font-weight: 700;
		padding: 0px;
		margin: 0px;
		max-width: 676px;
	}

	.organization_structure_staff_unit_description_group {
		padding: 0px;
		margin: 0px;
		margin-top: 24px;
		max-width: 676px;
	}

	.organization_structure_staff_unit_description_group input {
		width: 624px;
	}

	.staff_unit_table_column {
		background-color: #f8f8f8;
	}

	.staff_unit_table_column td {
		padding: 0px;
		padding: 12px;
		color: #323232;
		font-size: 18px;
		font-weight: 600;
	}

	.staff_unit_table_column p {
		margin: 0px;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.staff_unit_table {
		width: 1714px;
	}

	.staff_unit_table thead {
		position: sticky;
		top: 0;
	}

	.staff_unit_table_container {
		width: 1725px;
		max-height: 440px;
		overflow-x: auto;
		min-height: 200px;
	}

	.staff_unit_table_column_title {
		width: 50%;
		max-width: 50%;
		height: 23px;
	}

	.staff_unit_table_column_division_title {
		width: 45%;
		max-width: 45%;
		height: 23px;
	}

	.staff_unit_table_column_action {
		width: 5%;
		max-width: 5%;
		height: 23px;
	}

	// .staff_unit_table_content {
	// }

	.staff_unit_table_content td {
		padding: 0px;
		padding: 12px;
		color: #323232;
		font-size: 16px;
		font-weight: 600;
		border-bottom: 1px solid #efefef;
	}

	.staff_unit_table_content p {
		margin: 0px;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.staff_unit_table_action_button_container {
		display: flex;
		align-items: center;
	}

	.staff_unit_table_action_button_container li:not(:first-child) {
		margin-left: 20px;
	}

	.staff_unit_table_action_button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.staff_unit_title_h2_error {
		color: #323232;
		opacity: 0.2;
		font-size: 50px;
		font-weight: 800;
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}

	.staff_unit_table_column_title_input {
		// padding: 16px;
	}

	.organization_structure_staff_unit_title_group {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	.organization_structure_staff_unit_title_group_button {
		display: flex;
		margin-right: 10px;
		color: #8f8d8d;
		font-size: 24px;
		font-weight: 400;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		align-items: center;
		margin-bottom: 16px;
	}
}

.organization_structure_staff_unit_button_affirmative:disabled {
	cursor: not-allowed;
	opacity: 0.4;
}

.staff_unit_table_content:hover {
	background-color: #f9f9f9;
}
