.main {
	height: 92.8vh;
	position: absolute;
	z-index: 998;
	width: 768px;
	right: 0;
	margin-top: 70px;
	box-shadow: -5px 0px 35.5px 0px rgba(0, 0, 0, 0.1);
}

.sidebar_container {
	background-color: #f9f9f9;
	height: 916px;
	height: 100%;
	width: 100%;

	.sidebar_content {
		padding: 48px 46px;
		height: 739px;
		overflow-x: auto;
	}

	.sidebar_title_group {
		display: flex;
		align-items: center;
	}

	.sidebar_title_group button {
		margin-left: auto;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
	}

	.sidebar_title {
		margin: 0px;
		color: #323232;
		font-size: 24px;
		font-weight: 600;
		max-width: 600px;
	}

	.sidebar_button_group {
		margin: 0px;
		padding: 0px;
		list-style: none;
		margin-top: 20px;
		display: flex;
		max-width: 676px;
	}

	.sidebar_button_group li:not(:first-child) {
		margin-left: 16px;
	}

	.sidebar_button_affirmative {
		padding: 6px 10px;
		border-radius: 12px;
		border: 1px solid #4ab073;
		background-color: transparent;
		color: #4ab073;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		height: 44px;
	}

	.sidebar_button_reject {
		padding: 6px 10px;
		border-radius: 12px;
		border: 1px solid #ec4646;
		background-color: transparent;
		color: #ec4646;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		height: 44px;
	}

	.sidebar_button_more {
		padding: 0px;
		border-radius: 12px;
		border: 1px solid #727477;
		background-color: transparent;
		color: #979ba0;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		width: 44px;
		height: 44px;
	}

	.sidebar_button_more img {
		width: 24px;
		height: 24px;
		vertical-align: middle;
	}

	.sidebar_navigate_button_container {
		display: flex;
		margin-top: 20px;
	}

	.sidebar_navigate_button_container li:not(:first-child) {
		margin-left: 16px;
	}

	.sidebar_navigate_button {
		color: #c9cacd;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
	}

	.sidebar_navigate_button_active {
		color: #323232;
		font-size: 16px;
		font-weight: 600;
		border-bottom: 2px solid #323232;
		cursor: pointer;
		padding-bottom: 10px;
	}

	.sidebar_tags_group {
		display: flex;
		list-style: none;
		padding: 0px;
		margin: 0px;
		margin-top: 28px;
		max-width: 676px;
	}

	// .sidebar_tags {
	// 	border-radius: 8px;
	// 	background: #e4e4e4;
	// 	padding: 4px 8px;
	// 	color: #323232;
	// 	font-size: 14px;
	// 	font-weight: 400;
	// }

	.sidebar_tags_group li:not(:first-child) {
		margin-left: 10px;
	}

	.sidebar_title_h2 {
		color: #323232;
		font-size: 16px;
		font-weight: 700;
		padding: 0px;
		margin: 0px;
		max-width: 676px;
	}

	.sidebar_description_group {
		padding: 0px;
		margin: 0px;
		margin-top: 30px;
		max-width: 676px;
	}

	.sidebar_category_group {
		padding: 0px;
		margin: 0px;
		max-width: 676px;
		margin-left: 30px;
	}

	.sidebar_type_group {
		padding: 0px;
		margin: 0px;
		max-width: 676px;
	}

	.sidebar_description {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_type {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_category {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_cost_group {
		padding: 0px;
		margin: 0px;
		margin-top: 30px;
		max-width: 676px;
	}

	.sidebar_cost {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_date_group {
		padding: 0px;
		margin: 0px;
		margin-top: 30px;
		max-width: 676px;
	}

	.sidebar_date {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_education_center_group {
		padding: 0px;
		margin: 0px;
		margin-top: 30px;
		max-width: 676px;
	}

	.sidebar_education_center {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_goal_group {
		padding: 0px;
		margin: 0px;
		margin-top: 30px;
		max-width: 676px;
	}

	.sidebar_goal {
		margin: 0px;
		padding: 0px;
		margin-top: 8px;
		max-width: 676px;
		color: #323232;
		font-weight: 400;
	}

	.sidebar_state_container {
		margin-top: 8px;
	}

	.sidebar_stages_section_container {
		display: flex;
		margin-top: 30px;
		align-items: flex-start;
	}

	.sidebar_stages_info_group {
		list-style: none;
		display: flex;
		padding: 0px;
		flex-direction: column;
		margin: 0px;
		margin-left: 12px;
	}

	.sidebar_stages_info_group li:not(:first-child) {
		margin-top: 72px;
	}

	.sidebar_stages_group_title {
		color: #323232;
		font-size: 16px;
		font-weight: 700;
	}

	.sidebar_stages_group_text {
		margin-top: 8px;
		color: #000;
		font-size: 14px;
		font-weight: 400;
	}

	.sidebar_member_section_container {
		margin-top: 30px;
	}

	.sidebar_member_name {
		color: #000;
		font-size: 16px;
		font-weight: 400;
	}

	.sidebar_member_description {
		color: #727477;
		font-size: 12px;
		font-weight: 400;
		border-radius: 8px;
		max-width: 676px;
	}

	.sidebar_member_content_container {
		padding: 16px;
		cursor: pointer;
		border-radius: 8px;
	}
}

.sidebar_member_content_container:hover {
	background-color: #f4f4f4;
}

%status {
	border-radius: 10000px;
	color: var(--Color, #fff);

	font-family: Nunito Sans, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	//line-height: 100%;

	-webkit-line-clamp: initial !important;

	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding: 4px 10px;
}

.approve_confirmation_status {
	background: #f59d0e;
	@extend %status;
}
.approve_confirmation_status::before {
	margin-right: 4px;
	content: url('/img/statuses/av_timer.svg');
	vertical-align: middle;
}

.rejected_status {
	background: #e85252;
	@extend %status;
}
.rejected_status::before {
	margin-right: 4px;
	content: url('/img/statuses/cancel.svg');
	vertical-align: middle;
}

.completed_status {
	background: #2e954b;
	@extend %status;
}
.completed_status::before {
	margin-right: 4px;
	content: url('/img/statuses/check_circle.svg');
	vertical-align: middle;
}

// .sidebar_container {
// 	// transition: transform 300ms ease-out;
// 	// transform: translateX(-1rem);
// 	transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s,
// 		right 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
// 	right: calc(30px - 40%);
// 	right: 0px;
// }

// .main {
// 	transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s,
// 		right 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
// 	right: calc(30px - 40%);
// }
