.mainer {
  height: 100vh;
}

.container {

	width: 64px;
	background-color: #5c5f62;
	height: 100%;
  
  .logo {
    padding: 20px 16px;
  }
	.icon_list {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.icon_list li {
		max-height: 64px;
		max-height: 64px;
		padding: 20px;
	}
}
