.main {
	height: calc(100vh - 70px);
	position: absolute;
	z-index: 998;
	width: 768px;
	right: 0;
	margin-top: 70px;
	box-shadow: -5px 0px 35.5px 0px rgba(0, 0, 0, 0.1);
}

.sidebar_container {
	background-color: #f9f9f9;
	height: 916px;
	height: 100%;
	width: 100%;

	.sidebar_content {
		padding: 48px 46px;
		height: 739px;
		overflow-x: auto;
	}

	.sidebar_title_group {
		display: flex;
		align-items: center;
	}

	.sidebar_title_group button {
		margin-left: auto;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
	}

	.sidebar_title {
		margin: 0px;
		color: #323232;
		font-size: 24px;
		font-weight: 600;
		max-width: 600px;
	}

	.attention_figure {
		background-color: #e83434;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin-left: 4px;
		margin-top: 2px;
	}

	.attention_figure_none {
		display: none;
	}

	.sidebar_course_name {
		margin: 0px;
		margin-top: 28px;
	}

	.sidebar_course_education_center {
		margin: 0px;
		margin-top: 20px;
	}

	.sidebar_course_price {
		margin: 0px;
		margin-top: 20px;
	}

	.sidebar_course_label {
		display: flex;
		color: #323232;
		font-size: 16px;
		font-weight: 400;
	}

	.sidebar_course_name_input_container {
		width: 646px;
	}

	.sidebar_course_education_center_input_container {
		width: 646px;
	}

	.sidebar_course_price_input_container {
		width: 646px;
	}

	.sidebar_course_info_input {
		cursor: pointer;
		border-radius: 8px;
		border: 1px solid #e3e3e3;
		background: #fff;
		margin-top: 8px;
		width: 100%;
		padding: 14px;
		color: #323232;
		font-size: 20px;
		font-weight: 400;
		resize: none;
		height: 23px;
	}

	.sidebar_selector_course_info_container {
		display: flex;
		list-style: none;
		padding: 0px;
		margin: 0px;
		margin-top: 20px;
	}

	.sidebar_selector_course_info_container li:not(:first-child) {
		margin-left: 20px;
	}

	.sidebar_course_info_type {
		width: 312px;
		max-width: 312px;
	}

	.sidebar_course_type_selector_container {
		margin-top: 8px;
		width: 312px;
	}

	.sidebar_course_info_category {
		width: 344px;
		max-width: 344px;
	}

	.sidebar_course_category_selector_container {
		margin-top: 8px;
		width: 344px;
	}

	.sidebar_course_description_container {
		margin-top: 20px;
		width: 646px;
	}

	.create_application_course_info_training_center {
		width: 460px;
		max-width: 460px;
	}

	.sidebar_course_button_container {
		display: flex;
		margin-top: 40px;
	}

	.sidebar_course_button_submit_container button {
		width: 260px;
	}

	.sidebar_course_button_cancel {
		margin-left: 20px;
		padding: 10px 14px;
		border-radius: 12px;
		border: 1px solid #979ba0;
		background-color: transparent;
		color: #979ba0;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
	}

	.sidebar_course_label_view {
		color: #323232;
		font-size: 16px;
		font-weight: 700;
	}

	.sidebar_course_education_center_view_container {
		margin-top: 8px;
	}

	.sidebar_course_description_view_container {
		margin-top: 8px;
	}

	.sidebar_course_price_view_container {
		margin-top: 8px;
	}
}

.sidebar_course_info_input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 3px var(--input-hover-box-shadow-color);
}
