.custom-select {
	&__control {
		cursor: pointer !important;
		border-radius: 8px !important;
		border: 1px solid #e3e3e3 !important;
		background: #fff !important;
		width: 100% !important;
		color: #323232 !important;
		font-size: 20px !important;
		font-weight: 400 !important;
		box-shadow: none !important;
	}

	&--is-disabled {
		opacity: 0.5 !important;
	}
	&__indicator-separator {
		display: none !important;
	}

	&__value-container {
		padding: 14px !important;
	}

	&__input-container {
		margin: 0px !important;
		padding: 0px !important;
	}

	&__indicator svg {
		transition: all 0.2s ease !important;
		fill: #323232 !important;
		width: 24px !important;
		height: 24px !important;
	}

	&__indicator {
		padding: 14px !important;
	}

	&__control--menu-is-open {
		box-shadow: 0px 0px 0px 3px var(--input-hover-box-shadow-color) !important;

		.custom-select__indicator svg {
			transform: rotate(0.5turn) !important;
			transition: all 0.2s ease !important;
		}
	}

	&__menu {
		width: 100% !important;
		// max-height: 224px !important;
		overflow-x: auto !important;
		overflow-y: auto !important;
		box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.11),
			0px 1px 3px 0px rgba(0, 0, 0, 0.25) !important;
	}

	// &__menu-list {
	// 	// background-color: red !important;
	// }

	&__option {
		cursor: pointer !important;

		&--is-focused {
			background-color: #f8dbb2 !important;
			color: #323232 !important;
		}

		&--is-selected {
			background-color: #f8bb64 !important;
			color: #323232 !important;
		}
	}

	&__multi-value__remove {
		display: none !important;
	}

	&__multi-value__label {
		padding: 3px 6px !important;
	}

	&__clear-indicator {
		display: none !important;
	}
}
