.input_text {
	border-radius: 8px;
	background: var(--input-background-color);
	width: 438px;
	height: 27px;
	padding: 13px 14px;
	font-size: 20px;
	font-weight: 400;
	padding-right: 36px;
}

.input_valid {
	border: 1px solid var(--input-valid-border-color);
}

.input_invalid {
	border: 1px solid var(--input-invalid-border-color);
}

.input_text::placeholder {
	color: var(--input-placeholder-color);
}

.input_text:focus {
	border: 1px solid var(--input-focus-border-color);
	box-shadow: 0px 0px 0px 3px var(--input-focus-box-shadow-color);
	outline: none;
}

.input_text:hover {
	border: 1px solid var(--input-hover-border-color);
	box-shadow: 0px 0px 0px 3px var(--input-hover-box-shadow-color);
	outline: none;
}
