.password_reset_container {
	width: 490px;
	background: #fff;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 191px;

	.password_reset_title {
		color: var(--primary-text-color);
		font-size: 32px;
		font-weight: 700;
		margin-top: 0px;
	}

	.password_reset_form_container {
		margin-top: 60px;
	}

	.password_reset_input__group {
		margin-top: 16px;
		text-align: left;
	}

	.password_reset_label {
		color: var(--primary-text-color);
		font-size: 16px;
		font-weight: 400;
		display: block;
		margin-bottom: 8px;
	}

	.password_reset_error__validation {
		margin-top: 8px;
		color: var(--primary-error-text-color);
		font-size: 16px;
		font-weight: 300;
	}

	.password_reset_navigate__container {
		margin-top: 12px;
	}

	.password_reset_button__container {
		margin-top: 40px;
	}
}
