.registration_container {
	width: 490px;
	background: #fff;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 144px;

	.registration_title {
		color: var(--primary-text-color);
		font-size: 32px;
		font-weight: 700;
		margin: 0px;
	}

	.registration_form_container {
		margin-top: 60px;
	}

	.registration_input__group {
		margin-top: 16px;
		text-align: left;
	}

	.registration_label {
		color: var(--primary-text-color);
		font-size: 16px;
		font-weight: 400;
		display: block;
		margin-bottom: 8px;
	}

	.registration_error__validation {
		color: var(--primary-error-text-color);
		margin-top: 8px;
		font-size: 16px;
		font-weight: 300;
	}

	.registration_button__container {
		margin-top: 40px;
	}

	.registration_navigate__container {
		margin-top: 12px;
	}
	
	.registration_password__group_container {
		position: relative;
	}

	.registration_eye_icon__container {
		top: 0;
		right: 12px;
		cursor: pointer;
		height: 100%;
		position: absolute;
		vertical-align: middle;
	}

	.registration_eye_icon__container::after {
		width: 0;
		height: 100%;
		content: '';
		display: inline-block;
		overflow: hidden;
		vertical-align: middle;
	}

	.registration_eye_icon__container > img {
		vertical-align: middle;
		padding: 0px;
	}
}
