.organization_structure_container {
	margin-left: 104px;
	margin-top: 40px;

	ul {
		margin: 0px;
		padding: 0px;
	}

	.organization_structure_tree_container {
		margin-top: 30px;
		width: 1725px;
		height: 650px;
		overflow-x: auto;
	}

	.organization_structure_title {
		color: var(--page-primary-color);
		font-size: 32px;
		font-weight: 600;
		margin: 0px;
	}

	.organization_structure_tree_element_title {
		color: #000;
		font-size: 20px;
		font-weight: 600;
		margin: 0px;
	}

	.organization_structure_tree_element_description {
		color: #5c5f62;
		font-size: 16px;
		font-weight: 400;
		margin: 0px;
	}

	.organization_structure_tree_element_container {
		transition: all 0.2s ease;
		display: flex;
		padding: 6px 16px;
		align-items: center;
	}

	.organization_structure_tree_element_text_container {
		padding: 10px 20px;
		width: 100%;
	}

	.organization_structure_tree_arrow {
		transition: all 0.2s ease;
	}

	.organization_structure_tree_arrow img {
		transition: all 0.2s ease;
		width: 32px;
		height: 32px;
	}

	.organization_structure_tree_children {
		padding-left: 50px;
	}

	.organization_structure_title_h2_error {
		color: #323232;
		opacity: 0.2;
		font-size: 50px;
		font-weight: 800;
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}

	.organization_structure_title_container {
		display: flex;
		align-items: center;
	}

	.organization_structure_file_button_container {
		display: flex;
		margin-left: 16px;
	}

	.organization_structure_file_upload_button_container {
		margin-left: 8px;
	}

	.organization_structure_file_download_button {
		align-items: center;
		display: flex;
		color: #5c5f62;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}

	.organization_structure_file_upload_button {
		align-items: center;
		display: flex;
		color: #5c5f62;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}

	.organization_structure_file_upload_button img {
		margin-right: 10px;
	}

	.organization_structure_file_download_button img {
		margin-right: 10px;
	}

	.organization_structure_action_button_group {
		display: flex;
		list-style: none;
		margin: 0px;
		padding: 0px;
		margin-top: 20px;
	}

	.organization_structure_action_button_group li:not(:first-child) {
		margin-left: 10px;
	}
	 
	.organization_structure_action_button {
		display: flex;
		align-items: center;
		color: #5c5f62;
		font-size: 20px;
		font-weight: 600;
		margin: 0px;
		cursor: pointer;
		background-color: transparent;
		outline: none;
		border: #5c5f62 1px solid;
		border-radius: 12px;
		padding: 8px;
	}

	.organization_structure_action_button img{
		margin-right: 8px;
	}
}

.organization_structure_tree_element_text_container:hover {
	cursor: pointer;
	width: 100%;
	border-radius: 8px;
	background-color: #f4f4f4;
}

.organization_structure_tree_arrow img:hover {
	cursor: pointer;
	border-radius: 50%;
	background-color: #f4f4f4;
}
