.personal_account_container {
	margin-left: 104px;
	margin-top: 40px;

	.personal_account_title {
		color: var(--page-primary-color);
		font-size: 32px;
		font-weight: 600;
		margin: 0px;
	}

	.personal_account_content_container {
		margin: 0px;
		padding: 0px;
		margin-top: 30px;
		list-style: none;
	}

	.personal_account_content_container li:not(:first-child) {
		margin-top: 20px;
	}

	.personal_account_content_element_title {
		color: #323232;
		font-size: 16px;
		font-weight: 700;
	}

	.personal_account_content_element_title_text {
		margin-top: 8px;
		color: #323232;
		font-size: 16px;
		font-weight: 400;
	}

	.personal_account_button_container {
		margin-top: 40px;
	}

	.personal_account_button {
		padding: 10px 14px;
		width: 360px;
		color: #979ba0;
		font-size: 20px;
		font-weight: 600;
		border-radius: 12px;
		border: 1px solid #979ba0;
		background-color: transparent;
		height: 52px;
		cursor: pointer;
	}

	.personal_account_password_label {
		color: #323232;
		font-size: 16px;
		font-weight: 400;
		display: flex;
	}

	.attention_figure {
		background-color: #e83434;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin-left: 4px;
		margin-top: 2px;
	}

	.attention_figure_none {
		display: none;
	}

	.personal_account_password_input_container {
		margin-top: 8px;
		width: 712px;
		position: relative;
	}

	.personal_account_password_input_container input {
		width: 664px;
	}

	.personal_account_password_eye_icon__container {
		top: 0;
		right: 12px;
		cursor: pointer;
		height: 100%;
		position: absolute;
		vertical-align: middle;
	}

	.personal_account_password_eye_icon__container::after {
		width: 0;
		height: 100%;
		content: '';
		display: inline-block;
		overflow: hidden;
		vertical-align: middle;
	}

	.personal_account_password_eye_icon__container > img {
		vertical-align: middle;
		padding: 0px;
	}

	.personal_account_password_error__validation {
		margin-top: 8px;
		color: var(--primary-error-text-color);
		font-size: 16px;
		font-weight: 300;
	}

	.personal_account_password_editing_button_container {
		margin-top: 30px;
	}
	.personal_account_password_editing_button_container button {
		width: 360px;
	}

	.personal_account_password_success_editing {
		margin-top: 8px;
		color: #2e954b;
		font-size: 16px;
		font-weight: 300;
	}

	.personal_account_title_group {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	.personal_account_title_group_button {
		display: flex;
		margin-right: 10px;
		color: #8f8d8d;
		font-size: 24px;
		font-weight: 400;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		align-items: center;
		margin-bottom: 16px;
	}
}
