:root {
	// Input
	--input-background-color: #fff;
	--input-valid-border-color: #e3e3e3;
	--input-invalid-border-color: #e83434;
	--input-placeholder-color: #c9cacd;
	--input-focus-border-color: #e3e3e3;
	--input-focus-box-shadow-color: #f9e2c3;
	--input-hover-border-color: #e3e3e3;
	--input-hover-box-shadow-color: #f9e2c3;

	// Button
	--button-background-color: #e99e36;
	--button-text-color: #ffffff;
	--button-border-color: #e99e36;
	--button-hover-border-color: #db9027;
	--button-hover-background-color: #db9027;
	--button-active-border-color: #c98424;
	--button-active-background-color: #c98424;
	--button-focus-border-color: #c98424;
	--button-focus-background-color: #c98424;
	--button-disable-text-color: #fedba9;

	// Navigate button
	--navigate-button-text-color: #5c5f62;
	--navigate-button-hover-text-color: #5c5f62;
	--navigate-button-active-text-color: #727477;
	--navigate-button-disabled-text-color: #c9cacd;
	--navigate-button-focus-text-color: #323232;
	--navigate-button-focus-border-color: #323232;

	// Pages
	--primary-text-color: #000;
	--primary-error-text-color: #e83434;
}
