@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-button {
        border-radius: 8px;
        border: 1px solid #727477;
        padding: 10px;
    }
    .border-button:hover {
        border: 1px solid #5C5F62;
    }
    .border-button:active {
        border: 1px solid #727477;
    }
    .border-button:disabled {
        border: 1px solid #C9CACD;
    }
    .svg-button * {
        width: 28px;
        height: 28px;
        fill: #727477;
    }
    .svg-button:hover * {
        fill: #5C5F62;
    }
    .svg-button:active * {
        fill: #727477;
    }
    .svg-button:disabled * {
        fill: #C9CACD;
    }
    .custom-ul > li:not(:first-child) {
        @apply mt-5;
    }
    .border-button-sidebar {
        border-radius: 8px;
        border: 1px solid #979BA0;
        padding: 6px 10px;
    }
}

body {
    font-family: "Nunito Sans";
}
[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    background-image: url(./img/clear.svg);
    background-size: 24px 24px;
    cursor: pointer;
}