.main {
	width: 100%;
	user-select: none;
}

.header_container {
	background: var(--header-background-color);
	height: 70px;

	.header_container__content {
		margin-left: auto;
		display: flex;
		height: 70px;
		margin-top: auto;
		margin-bottom: auto;
		list-style: none;
		padding-inline-start: 0px;
	}

	.header_container__content li:first-child {
		margin-left: auto;
	}

	.header_container__content_group {
		display: flex;
	}

	.header_container__content_button {
		padding-left: 23px;
		padding-right: 23px;
		display: flex;
		border: solid var(--header-button-border-color);
		background-color: var(--header-button-background-color);
		cursor: pointer;
	}

	.header_container__content_text {
		margin-top: auto;
		margin-bottom: auto;
		color: var(--primary-text-color);
		font-size: 18px;
		font-weight: 600;
		padding-left: 17px;
	}

	.header_container__content_icon {
		margin-top: auto;
		margin-bottom: auto;
		height: 24px;
		width: 24px;
	}
}

.header_container__content_button:hover {
	border: solid var(--header-button-hover-border-color);
	background-color: var(--header-button-hover-background-color);
}

.header_container__content_button:active {
	border: solid var(--header-button-active-border-color);
	background-color: var(--header-button-active-background-color);
}

.header_container__content_button:focus {
	border: solid var(--header-button-focus-border-color);
	background-color: var(--header-button-focus-background-color);
	outline: none;
}
