.password_reset_confirmed_container {
	width: 490px;
	position: flex;
	text-align: center;
	margin-right: auto;
	margin-left: auto;

	.password_reset_confirmed_title {
		color: var(--primary-text-color);
		font-size: 32px;
		font-weight: 700;
		margin-top: 0px;
		margin-bottom: 60px;
		margin-top: 120px;
	}

	.password_reset_confirmed_input__group {
		margin-top: 16px;
		text-align: left;
	}

	.password_reset_confirmed_label {
		color: var(--primary-text-color);
		font-size: 16px;
		font-weight: 400;
		display: block;
		margin-bottom: 8px;
	}

	.password_reset_confirmed_error__validation {
		margin-top: 8px;
		color: var(--primary-error-text-color);
		font-size: 16px;
		font-weight: 300;
	}
}
