.CalendarContainer {
  margin-left: 104px;
  margin-top: 40px;
  margin-right: 40px;
  width: auto;
}

.CalendarInput {
  border: none; /* Убираем рамку */
  font-size: 1.2em; /* Увеличиваем размер текста */
  font-weight: bold; /* Делаем текст жирным */
  background: transparent;
  -webkit-appearance: none; /* Убираем стандартную иконку календаря для WebKit-браузеров */
  appearance: none; /* Аналогично для Mozilla Firefox */
}

.CalendarInput:hover {
  cursor: pointer; /* Изменяем курсор при наведении */
  /* Здесь можно добавить другие стили для hover эффекта */
}

.CalendarInput:focus {
  outline: none; /* Убираем стандартный фокус при нажатии */
  /* Здесь можно добавить стили для состояния фокуса */
}