.check_email__container {
	width: 624px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 212px;

	.check_email__title {
		color: var(--primary-text-color);
		font-size: 32px;
		font-weight: 700;
	}

	.check_email__text {
		margin-top: 60px;
		margin-bottom: 0px;
		width: 624px;
		color: var(--primary-text-color);
		text-align: center;
		font-size: 24px;
		font-weight: 400;
	}

	.check_email_button__container {
		margin-top: 60px;
	}
}
